[package]
name = "parley"
version = "0.0.1"
authors = ["Chad Brokaw <cbrokaw@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
swash = "0.1.8"
peniko = "0.1.0"
fontique = { git = "https://github.com/dfrg/fount" }
skrifa = "0.16.0"
