[package]
name = "parley"
version = "0.1.0"
authors = ["Chad Brokaw <cbrokaw@gmail.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
swash = { git = "https://github.com/dfrg/swash" }
fount = { git = "https://github.com/dfrg/fount" }

[workspace]
members = ["piet-parley"]
