[workspace]
resolver = "2"
members = [
    "fontique",
    "parley",
    "examples/tiny_skia_render",
    "examples/swash_render",
    "examples/vello_editor",
]

[workspace.package]
edition = "2021"
# Keep in sync with RUST_MIN_VER in .github/workflows/ci.yml, with the relevant README.md files
# and with the MSRV in the `Unreleased` section of CHANGELOG.md.
rust-version = "1.75"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/linebender/parley"

[workspace.lints]
clippy.doc_markdown = "warn"
clippy.semicolon_if_nothing_returned = "warn"
clippy.trivially_copy_pass_by_ref = "warn"
rust.unused_qualifications = "warn"

[workspace.dependencies]
accesskit = "0.16.3"
fontique = { version = "0.2.0", default-features = false, path = "fontique" }
parley = { version = "0.2.0", default-features = false, path = "parley" }
peniko = { version = "0.2.0", default-features = false }
skrifa = { version = "0.22.3", default-features = false }
read-fonts = { version = "0.22.3", default-features = false }
swash = { version = "0.1.19", default-features = false }
