[package]
name = "vello_render"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
vello = "0.2.1"
anyhow = "1.0.86"
pollster = "0.3.0"
winit = "0.30.3"
parley = { workspace = true, default-features = true }
peniko = { workspace = true }

[lints]
workspace = true
