[package]
name = "vello_editor"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
vello = { git = "https://github.com/linebender/vello/", rev = "28cddb933bc80148734beb90c879646ec323d708" }
anyhow = "1.0.86"
pollster = "0.3.0"
winit = "0.30.3"
parley = { workspace = true, default-features = true }
peniko = { workspace = true }

[lints]
workspace = true

[target.'cfg(target_os = "android")'.dependencies]
winit = { version = "0.30.3", features = ["android-native-activity"] }

[target.'cfg(not(target_os = "android"))'.dependencies]
clipboard-rs = "0.1.11"
